<p></p>

<!DOCTYPE html>
<meta charset="UTF-8">
<html><body>
<!--
<button onclick="document.querySelector( 'input' ).value = '0' " >C</button><br >
<button onclick="document.querySelector( 'input' ).value += '1' " >1</button>
<button onclick="document.querySelector( 'input' ).value += '2' " >2</button>
<button onclick="document.querySelector( 'input' ).value += '3' " >3</button>
<button onclick="document.querySelector( 'input' ).value += '+' " >+</button><br >
<button onclick="document.querySelector( 'input' ).value += '4' " >4</button>
<button onclick="document.querySelector( 'input' ).value += '5' " >5</button>
<button onclick="document.querySelector( 'input' ).value += '6' " >6</button>
<button onclick="document.querySelector( 'input' ).value += '-' " >-</button><br >
<button onclick="document.querySelector( 'input' ).value += '7' " >7</button>
<button onclick="document.querySelector( 'input' ).value += '8' " >8</button>
<button onclick="document.querySelector( 'input' ).value += '9' " >9</button>
<button onclick="document.querySelector( 'input' ).value += '*' " >×</button><br >
<button onclick="document.querySelector( 'input' ).value += '-' " >+/-</button>
<button onclick="document.querySelector( 'input' ).value += '0' " >0</button>
<button onclick="document.querySelector( 'input' ).value += '.' " >.</button><br >
-->

<!--
<button onclick="append( '1' )" >1</button>
<button onclick="append( '2' )" >2</button>
<button onclick="append( '3' )" >3</button><br >
<button onclick="append( '4' )" >4</button>
<button onclick="append( '5' )" >5</button>
<button onclick="append( '6' )" >6</button><br >
<button onclick="append( '7' )" >7</button>
<button onclick="append( '8' )" >8</button>
<button onclick="append( '9' )" >9</button><br >
<button onclick="append( '+/-' )" >+/-</button>
<button onclick="append( '0' )" >0</button>
<button onclick="append( '.' )" >.</button>
-->

</body></html>